Friend scan me is a way to Add friends to your social networks in the real world with you own custom QR code.
Description
Simplify your real world life contacts by translating your social networks into a QR code.

Others can scan your QR code and add you as a friend instantly! No more fumbling with email addresses or spelling names, just scan, confirm, and you’re done!
Q How do I get my Personal Friendscan.me QR Code?

Here at Yeti Media we wanted to make Friend Scan me as simple as possible. So we did all the hard work connecting the lines to bring you the Easiest, Fun, Fast Personal Social media QR Code maker app. No need to enter tons of info, you don’t need to image sizes, and NO Extra passwords to remember.

You can now connect using Twitter, Facebook, Linkedin, Instagram, and Github.
How do you get started?
1) Go to the website http://friendscan.me on your phone  
2) Once there click on EITHER Facebook, Twitter, to connect with
Enter your user name or password for the site you chose,
(Once you are signed up with Facebook or twitter you will unlock the options to add you Instagram, Linkedin, or Github3) Once signed in you will see a funny looking Bar code called a QR Code
QR stands for Quick Response.  
(Make sure you have a QR Scanner on your phone which can be found in the app store)
4) (On iPhone) Click on the square with the arrow coming out of it. Then choose add to home screen.    This will Bookmark your QR Code page to your home screen. 
You also have the option of Screen capturing it and saving it in your pictures. 
(On Android) You are going to want to Press the Menu button and select Bookmarks. Press and hold on the Bookmark you just created, and select Add shortcut to Home. This will put a shortcut icon on the current Home screen that allows one-touch access to the page.
Now you can go out and meet people and always have your QR code in your pocket.
It is basically a way to simplify your real world life contacts by translating your social networks into a QR code. Others can scan your QR code and add you as a friend instantly! No more fumbling with email addresses or spelling names, just scan, confirm, and you’re done!
Friendscan.me is now available for TWITTER, FACEBOOK LINKEDIN, Instagram, and GITHUB. One signed into Friendscan.me with either Facebook or twitter you will be asked if you want to add INSTAGRAM, LINKEDIN, or GITHUB.
If you have anymore feedback on Friendscan.me Please feel free to to the bottom of the page at http://friendscan.me and click on the Feature Request and Report link at the bottom of the page. We check these daily. 
Friendscan.me is not affiliated with Facebook, Twitter, Linkedin, Github, or Instagram.
