
.vcard-container {
  @include mobile-portrait(300px);
  @include mobile-landscape(300px);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  margin: auto;
  -webkit-box-shadow: 0 1px 3px #489CC6;
  -moz-box-shadow: 0 1px 3px #489CC6;
  box-shadow: 0 1px 3px #489CC6;
}

.layer {
  background: #f8f8f8;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-topright: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding-top: 10px;
  
  -webkit-border-bottom-left-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-bottomleft: 8px;
  -moz-border-radius-bottomright: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  }

.top_bar {
  background: #000;
  color: #f8f8f8;
  font-family: 'Lobster', cursive;
  font-size: 20px;
  text-align: center; 
  margin: 0 0 2% 0;
  padding: 2px 10px;
  a:link, a:hover, a:visited {
    color: #f8f8f8;
    text-decoration: none;
  } }

.top_nav {
  text-align: right; 
  margin: 0 0 2% 0;
  padding: 0 10px; }

h1.name {
  margin-top: 0;
  margin-bottom: 0;
  text-shadow: 0 1px 0px #fff; }

p.role {
  text-shadow: 0 1px 0px #fff;
  color: #999; }

.panel {
  p {
    margin: 0 0px 20px 0px;
    color: #666; }
  h2 {
    color: #333;
    margin: 0 20px 20px 10px;
    font-size: 17px; } }

img.avatar {
  margin: 0 15px 15px 15px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  @include columns(2);
}

.social {
  ul {
    @include mobile-portrait(298px);
    @include mobile-landscape(298px);
    float: left;
    //width: 438px;
    margin: 0;
    list-style: none;
    padding: 0; }
  li {
    @include mobile-portrait(298px);
    @include mobile-landscape(298px);
    background: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f8f8f8');
    /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(#f8f8f8));
    /* for webkit browsers */
    background: -moz-linear-gradient(top, white, #f8f8f8);
    /* for firefox 3.6+ */
    width: 438px;
    border: 1px solid #eee;
    border-top: none;
    a {
      font-size: 15px;
      font-weight: bold;
      /*width: 249px;*/
      height: 65px;
      display: block;
      color: #666;
      text-decoration: none;
      line-height: 65px;
      text-indent: 65px; }
    &.qrcode {
      padding: 20px 0px;
      text-align: center;
      p {
        margin: 5px 60px 5px 74px;
        text-align: left;
      }}
    &.twitter a {
      background: url(/assets/icn-twitter.png) no-repeat;
      background-position: 20px 16px; }
    &.facebook a {
      background: url(/assets/icn-facebook.png) no-repeat;
      background-position: 20px 16px; }
    &.linkedin a {
      background: url(/assets/icn-linkedin.png) no-repeat;
      background-position: 20px 16px; }
    &.myspace a {
      background: url(/assets/icn-myspace.png) no-repeat;
      background-position: 20px 16px; }
    &.lastfm a {
      background: url(/assets/icn-lastfm.png) no-repeat;
      background-position: 20px 16px; }
    &.flickr a {
      background: url(/assets/icn-flickr.png) no-repeat;
      background-position: 20px 16px; }
    a:hover {
      color: #3399CC; } } }

/* icon set used http://www.nouveller.com/general/free-social-media-bookmark-icon-pack-the-ever-growing-icon-set/ */
/* to add more/different icons, download the icon set and add a new class to list above */

.social ul li {
  &.last-left {
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-bottomleft: 8px;
    border-bottom-left-radius: 8px;
    a {
      -webkit-border-bottom-left-radius: 8px;
      -moz-border-radius-bottomleft: 8px;
      border-bottom-left-radius: 8px; } }
  &.last-right {
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-radius-bottomright: 8px;
    border-bottom-right-radius: 8px;
    a {
      -webkit-border-bottom-right-radius: 8px;
      -moz-border-radius-bottomright: 8px;
      border-bottom-right-radius: 8px; } } }

.social {
  margin: 0; }

label {
  display: block;
  margin: 10px 0 5px 10px;
  color: #666; }

input[type=text] {
  margin: 0 0 0 10px;
  border: 1px solid #eee;
  padding: 5px;
  background: #fff;
  width: 430px; }

textarea {
  margin: 0 0 0 10px;
  border: 1px solid #eee;
  padding: 5px;
  background: #fff;
  width: 430px;
  height: 60px; }

input[type=text]:focus, textarea:focus {
  border: 1px solid #ccc; }

input[type=submit] {
  display: block;
  width: 120px;
  height: 30px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  line-height: 25px;
  background: #DEDEDE;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#DEDEDE');
  background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#dedede));
  background: -moz-linear-gradient(top, #fafafa, #dedede);
  color: #333;
  text-decoration: none;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
  text-shadow: 0px 1px 0px #fff;
  -webkit-box-shadow: inset 0px 1px 0 #fff;
  -moz-box-shadow: inset 0px 1px 0 #fff;
  -o-box-shadow: inset 0px 1px 0 #fff;
  -khtml-box-shadow: inset 0px 1px 0 #fff;
  box-shadow: inset 0px 1px 0 #fff;
  cursor: pointer;
  float: right;
  margin: 20px 10px 20px 0;
  &:hover {
    background: #eee;
    color: #111; }
  &:active {
    background: #ddd;
    color: #000; } }