.vcard-container {
  @include mobile-portrait(300px);
	@include mobile-landscape(300px);
	@include tablet-portrait(300px);
	@include min-width-960(300px);
  @include tablet-landscape(300px);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  margin: 30px auto 0 !important;
  -webkit-box-shadow: 0 1px 3px #489CC6;
  -moz-box-shadow: 0 1px 3px #489CC6;
  box-shadow: 0 1px 3px #489CC6;
}
.card-header { padding: 15px 0 0 15px; }
.layer {
  @include clearfix;
  background: #f8f8f8;
  @include border-radius(8px);
  .bookmark-link {display:none;}
  
}

h1.name {
  margin-top: 0;
  margin-bottom: 0;
  text-shadow: 0 1px 0px #fff; }

p.role {
  text-shadow: 0 1px 0px #fff;
  color: #999; }

.panel {
	.ui-link {
		color: #555555 !important;
		font-weight: bold !important;
	}
  p {
    margin: 0 0px 0px 0px;
    color: #666; }
}

img.avatar {
  margin: 0 15px 15px 0;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.social {
  .your-qr-code {display:none;}
  .copy-odd {
    background-color: #F8F8F8;
    padding: 10px 0px;
    margin: 5px 0px 5px 0px;
  }
  .silvergradient ul {
background: #f8f8f8;
background: -moz-linear-gradient(top, #f8f8f8 0%, #f6f6f6 21%, #dbdbdb 92%, #f1f1f1 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(21%,#f6f6f6), color-stop(92%,#dbdbdb), color-stop(100%,#f1f1f1));
background: -webkit-linear-gradient(top, #f8f8f8 0%,#f6f6f6 21%,#dbdbdb 92%,#f1f1f1 100%);
background: -o-linear-gradient(top, #f8f8f8 0%,#f6f6f6 21%,#dbdbdb 92%,#f1f1f1 100%);
background: -ms-linear-gradient(top, #f8f8f8 0%,#f6f6f6 21%,#dbdbdb 92%,#f1f1f1 100%);
background: linear-gradient(top, #f8f8f8 0%,#f6f6f6 21%,#dbdbdb 92%,#f1f1f1 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f1f1f1',GradientType=0 );
		padding: 5px 0;
		width: 100%;
    li {
      background: transparent;
      border: 0px;
      color: #f8f8f8;
      display: inline;
      font-weight: 700;
      padding: 10px;
      }
      a, a:hover, a:visited { color: #f8f8f8; text-decoration: none; text-shadow: 0px 1px 2px #000; }
  }
  ul {
    @include mobile-portrait(298px);
    @include mobile-landscape(298px);
		@include tablet-portrait(298px);
		@include min-width-960(298px);
	  @include tablet-landscape(298px);
    float: left;
    margin: 0;
    list-style: none;
    padding: 0; }
  li {
    @include mobile-portrait(298px);
    @include mobile-landscape(298px);
		@include tablet-portrait(298px);
		@include min-width-960(298px);
	  @include tablet-landscape(298px);
    background: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f8f8f8');
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(#f8f8f8));
    background: -moz-linear-gradient(top, white, #f8f8f8);
    width: 438px;
    border: 1px solid #eee;
    border-top: none;
    &.qrcode {
      padding: 20px 0px;
      text-align: center;
      .image {
        border: 10px solid #ddd;
        height: 150px;
        margin: 0 auto;
        padding: 5px;
        width: 150px;
        @include border-radius(5px)
      }
    }
    &.twitter a {
      background: url(/assets/icn-twitter.png) no-repeat;
			background-position: 20px 16px;
			display: block;
			line-height: 65px;
			text-indent: 65px;
		}
    &.facebook a {
      background: url(/assets/icn-facebook.png) no-repeat; 
			background-position: 20px 16px;
			display: block;
			line-height: 65px;
			text-indent: 65px;
			height: 65px;
		}
    &.linkedin a {
      background: url(/assets/icn-linkedin.png) no-repeat;
			background-position: 20px 16px;
			display: block;
			line-height: 65px;
			text-indent: 65px;
    }
    &.myspace a {
      background: url(/assets/icn-myspace.png) no-repeat;
			background-position: 20px 16px;
			display: block;
			line-height: 65px;
			text-indent: 65px;
    }
    &.lastfm a {
      background: url(/assets/icn-lastfm.png) no-repeat;
			background-position: 20px 16px;
			display: block;
			line-height: 65px;
			text-indent: 65px;
    }
    &.flickr a {
      background: url(/assets/icn-flickr.png) no-repeat;
			background-position: 20px 16px;
			display: block;
			line-height: 65px;
			text-indent: 65px;
    }
		&.get-app a {
			display: block;
			line-height: 65px;
			text-indent: 65px;
			height: 65px;
		}
		a:link, a:visited {
			color: #666666;
			font-size: 15px;
		  font-weight: bold;
			text-decoration: none;
		}
    a:hover {
      color: #3399CC; } } }
/* icon set used http://www.nouveller.com/general/free-social-media-bookmark-icon-pack-the-ever-growing-icon-set/ */
/* to add more/different icons, download the icon set and add a new class to list above */

.social ul li {
  &.last-left {
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-bottomleft: 8px;
    border-bottom-left-radius: 8px;
    a {
      -webkit-border-bottom-left-radius: 8px;
      -moz-border-radius-bottomleft: 8px;
      border-bottom-left-radius: 8px; } }
  &.last-right {
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-radius-bottomright: 8px;
    border-bottom-right-radius: 8px;
    a {
      -webkit-border-bottom-right-radius: 8px;
      -moz-border-radius-bottomright: 8px;
      border-bottom-right-radius: 8px; } } 
}

label {
  display: block;
  margin: 10px 0 5px 10px;
  color: #666; }

input[type=text] {
  margin: 0 0 0 10px;
  border: 1px solid #eee;
  padding: 5px;
  background: #fff;
  width: 430px; }

textarea {
  margin: 0 0 0 10px;
  border: 1px solid #eee;
  padding: 5px;
  background: #fff;
  width: 430px;
  height: 60px; }

input[type=text]:focus, textarea:focus {
  border: 1px solid #ccc; }

input[type=submit] {
  display: block;
  width: 120px;
  height: 30px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  line-height: 25px;
  background: #DEDEDE;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#DEDEDE');
  background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#dedede));
  background: -moz-linear-gradient(top, #fafafa, #dedede);
  color: #333;
  text-decoration: none;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
  text-shadow: 0px 1px 0px #fff;
  -webkit-box-shadow: inset 0px 1px 0 #fff;
  -moz-box-shadow: inset 0px 1px 0 #fff;
  -o-box-shadow: inset 0px 1px 0 #fff;
  -khtml-box-shadow: inset 0px 1px 0 #fff;
  box-shadow: inset 0px 1px 0 #fff;
  cursor: pointer;
  float: right;
  margin: 20px 10px 20px 0;
  &:hover {
    background: #eee;
    color: #111; }
  &:active {
    background: #ddd;
    color: #000; } }
