/* Shared classes ********************************** rnt@yeti-media.com */


// Same layout but dont want the element 
.hide-from-new-ui {
  display: none;
}

.left {
  @include float("left");
}
 
.right {
  @include float("right");
}
.clear {
  /*@include clear-it;*/
}

.small {
  font-size: $font-size-small;
}

.large {
  font-size: $font-size-large;
}

.xl {
  font-size: $font-size-xl;
}

.shadow {
  @include box-shadow( #999, 0px,  3px, 3px);
}

a.big {
  font-size: $font-size-xl;
}

.single-column {
 @include columns(6);
 }
 
.three-column {
  @include columns(2);
  clear: none;
}

.two-column {
  @include columns(1.5);
  clear: none;
}
 
.four-column {
  @include columns(1);
  clear: none;
}

.align-right {
   text-align:right;
   padding-right:20px;
}

.align-center {
  text-align: center;
}

.align-left {
   text-align:left;
}

a.remove_child {
  display: inline-block;
  margin: 15px 5px;
}

#sortable li.sort, #sortable li.sort label {
  cursor: pointer;
}

#sortable li span {
   left: 35px;
   position: relative;
   top: 30px;
}


.inline-tip {
  color: white;
  margin: 10px 0;
  padding: 20px 10px;
  /*@include shed($width: auto, $gradient: false, $background: #666);*/
}


.loader {
  background: url(/images/elements/ajax-loader.gif);
  background-position: center center;background-repeat: no-repeat;
  display:none;
  height: 200px;
  width: 766px;
}


/* Some flash notice stuff */

#flash_notice, #flash_error, #flash_alert, #flash_success, #flash_failure {
  padding: 8px 10px;
  text-align:center;
  @include border-radius($radius);
  @include box-shadow(#fff 0px 1px 0px);
  @include full(12);
}

#flash_notice, #flash_success {
  border: solid 1px #3399CC; 
  background: #ccffcc;
  color: #3399CC;}

#flash_error, #flash_failure {
  background: #ffcccc;
  border: solid 1px #cc6666;
  color: #ff0000; }

#flash_alert {
  background: none repeat scroll 0 0 #FFF6BF;
  border: 1px solid #FFD324;
  color: #514721;
}

.fieldWithErrors {
  display: inline; }

#errorExplanation {
  border: 2px solid #cf0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: 0;
    background-color: #cc0000;
    color: white; }
  p {
    color: #333333;
    margin-bottom: 0;
    padding: 8px; }
  ul {
    margin: 2px 24px;
    li {
      font-size: 12px;
      list-style: disc; } } }