
// Imports --------------------------------------------------------------

@import "partials/base";
@import "susy";
@import "compass/css3";
@import "compass/utilities";
@import "partials/shared";

/* Layout -------------------------------------------------------------- */

body {
  font-family: $font-family;
  font-size: 100%;
}

#wrap {
  @include container;
  @include susy-grid-background;
  #top_bar {
		@include full;
    background-color: black;
    height: 5px;
}}

#title {
	@include full;
  @include prefix(0);
  font-family: 'Maven Pro', 'Helvetica Neue', 'Arial';
	font-size: 3em;
}

nav ul {
	padding: 0px;
	@include columns(3);
	@include prefix(8);
	@include alpha;
  li {
    list-style-type: none; 
}}

h2.left {
	clear: both;
	@include alpha;
	@include columns(3);
}

p.left {
	clear: both;
	@include alpha;
	@include columns(3);
}