
// Imports --------------------------------------------------------------

@import "partials/base";
@import "susy";
@import "responsive-sass";
@import "compass/css3";
@import "compass/utilities";
@import "partials/shared";
@import "partials/cards";

/* Layout -------------------------------------------------------------- */

body {
  background: #3399cc url(/assets/bg.png) repeat-x;
  font-size: 13px;
  font-family: $font-family;
  color: #333;
}

#wrap {
  @include container;
  @include susy-grid-background;
}

.starburst {
  background: url(/assets/bg-starburst.png) no-repeat top center;
  height: 600px;
  padding: 20px 0px 50px 0px;
  margin: 0 auto;
  @include full(12);
}

#flash_notice {
  @include columns(3);
}

.user_name {
	@include columns(4);
  @include prefix(8);
	margin-top: 10px;
}



.left_splash {
  @include alpha;
  @include prefix(1);
	@include columns(3);
	margin-bottom: 2%;
	#phone_pic {
	  @include columns(3);
	  @include prefix(1.2);
	  @include mobile-portrait(110px);
	  @include mobile-landscape(150px);
	  @include tablet-portrait(200px);
	  @include min-width-960(200px);
	  @include tablet-landscape(200px);
    clear: both;
	  margin: 0% 2% 2% 3%;
	}
}

nav.right_splash {
  @include prefix(1.2);
	@include columns(3);
	padding-top: 10%;
	#logo {
	  @include mobile-portrait(190px);
    @include mobile-landscape(250px);
	  @include tablet-portrait(325px);
	  @include min-width-960(325px);
	  @include tablet-landscape(325px);
  }
  ul {
	  padding: 0px;
		list-style-type: none;
    li {
			display: inline;
			padding-left: 2%;
}}}

#bg_blog {
  background-color: #f8f8f8;
  border: 1px solid #000000;
  clear: both;
  margin-bottom: 10px;
  margin-left: 10%;
  @include border-radius(8px, 8px);
  @include columns(10);
}

h2 {
	font-size: 1.25em;
	font-weight: normal;
	padding-bottom: 22px;
}

.left {
  clear: both;
  padding: 1% 1% 1% 4%;
  @include alpha;
  @include columns(3.5);
  h2 {
    padding: 0px;
    }
}

.middle {
  padding: 1%;
	@include columns(3.5);
	@include prefix(0);
}

.right {
  padding: 1%;
	@include columns(3.5);
	@include prefix(0);
}

footer {
  clear: both;
  margin: 0px 0px 10px 0px;
  @include prefix(5);
  @include columns(4);
  span {
    font-size: 12px;
  }
  #footer_img {
  vertical-align: text-top;
  }
}

a, a:visited {
  color: #000000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}