
// Imports --------------------------------------------------------------

@import "partials/base";
@import "susy";
@import "compass/css3";
@import "compass/utilities";
@import "partials/shared";
@import "partials/cards";

/* Layout -------------------------------------------------------------- */

body {
  background: #3399cc url(/assets/bg.png) repeat-x;
  font-size: 13px;
  font-family: $font-family;
  color: #333;
}

#wrap {
  @include container;
  //@include susy-grid-background;
}

.starburst {
  background: url(/assets/bg-starburst.png) no-repeat top center;
  height: 600px;
  padding: 20px 50px 0px 50px;
  margin: 0 auto;
  @include full(10);
}

#flash_notice {
  @include columns(3);
}

.user_name {
	@include columns(4);
  @include prefix(8);
	margin-top: 10px;
}

.left_splash #banner {
  clear: both;
	margin: 0% 2% 2% 0%;
	@include alpha;
	@include columns(3);
	@include prefix(1.8);
	@include suffix(1);
}

.left_splash #logo {
	@include columns(5);
	margin-top: 6%;
	margin-bottom: 2%;
}

nav.right_splash {
	@include columns(5);
	@include prefix(0);
  ul {
	  padding: 0px;
		list-style-type: none;
    li {
			display: inline;
}}}

#bg_blog {
  background-color: #f8f8f8;
  border: 1px solid #000000;
  clear: both;
  margin-bottom: 10px;
  margin-left: 10%;
  @include border-radius(15px, 15px);
  @include columns(10.2);
}

h2 {
	font-size: 1.25em;
	font-weight: normal;
	padding-bottom: 22px;
	//@include text-shadow(rgba(blue, 0.2) 1px 1px 0, rgba(blue, 0.2) 2px 2px 0, rgba(blue, 0.2) 3px 3px 0);
}

.left {
  clear: both;
  padding: 1% 1% 1% 4%;
  @include alpha;
  @include columns(3.5);
  h2 {
    padding: 0px;
    }
}

.middle {
  padding: 1%;
	@include columns(3.5);
	@include prefix(0);
}

.right {
  padding: 1%;
	@include columns(3.5);
	@include prefix(0);
}

footer {
  clear: both;
  margin: 0px 0px 10px 0px;
  @include prefix(5);
  @include columns(4);
  span {
    font-size: 12px;
  }
  #footer_img {
  vertical-align: text-top;
  }
}