// Imports --------------------------------------------------------------

@import "partials/base";
@import "responsive-sass";
@import "compass/css3";
@import "compass/utilities";
@import "partials/shared";
@import "partials/cards";

/* Layout -------------------------------------------------------------- */

body {
  background-color: #3399cc;
  font-family: $font-family;
  color: #333;
}
.pad2em { padding-top: 2em; }
.top_bar {
	background: url(/assets/bg-topbar.gif);
	-moz-box-shadow: black 0 5px 5px;
	-webkit-box-shadow: black 0 5px 5px;
	box-shadow: black 0 5px 5px;
  color: #f8f8f8;
  font-family: 'Lobster', cursive;
	padding-top: 10px;
  text-align: center; 
	height: 43px;
	p {
		font-size: 2em;
	}
  a:link, a:hover, a:visited {
    color: #f8f8f8;
    text-decoration: none;
  } 
}
  
#wrap {
  @include clearfix;
  background: #3399cc url(/assets/bg.png) repeat-x;
}
.starburst {
  background: url(/assets/bg-starburst.png) no-repeat top center;
  height: 600px;
  padding: 0px 0px 50px 0px;
  margin: 0 auto;
}
.top_nav {
  text-align: right; 
  padding: 5px 10px; 
  a {color: #0F628C;
    font-weight: bold;
    letter-spacing: -1px;
    text-shadow: 0 1px 0 #ffffff;}}

.user_name {
  margin: 0px;
	padding-bottom: 0px;
	text-align: right;
}
.wrapper {
}
.left_splash {
	#phone_pic {
	  @include mobile-portrait(110px);
	  @include mobile-landscape(136px);
	  @include tablet-portrait(230px);
	  @include min-width-960(256px);
		@include tablet-landscape(256px);
    clear: both;
	  margin: 0;
	}
}

nav.right_splash {
	padding-top: 1em;
	#logo {
		@extend .mobile-portrait;
    @include mobile-landscape(290px);
	  @include tablet-portrait(290px);
	  @include min-width-960(390px);
		@include tablet-landscape(424px);
  }
  ul {
		list-style-type: none;
    li {
			padding-left: 2%;
}}}
.mobile-portrait {
	@include mobile-portrait(290px);
}


#signin_ {
}

.orangeStripe {
	background: url(/assets/bg-orangestripe.gif);
	-moz-box-shadow: $box-shadow-x-offset $box-shadow-y-offset $box-shadow-blur-radius $box-shadow-spread-radius $box-shadow-color;
	-webkit-box-shadow: $box-shadow-x-offset $box-shadow-y-offset $box-shadow-blur-radius $box-shadow-spread-radius $box-shadow-color;
	box-shadow: $box-shadow-x-offset $box-shadow-y-offset $box-shadow-blur-radius $box-shadow-spread-radius $box-shadow-color;
	margin-top: .5em;
	width: 100%;
	height: 24px;
}
.bg_mainContent {
	background: url(/assets/bgBluePlaid.png);
	background-color: #244468;
	padding-top: .5em;
	width: 100%;
}


h2 {
  @include text-shadow(#bebebe, 1px, 1px, 0px);
	font-size: 1.25em;
	font-weight: normal;
}

#left {
  padding: 1% 1% 1% 1%;
}

#middle {
  padding: 1%;
}

#right {
  padding: 1%;
}

footer {
  div {display: inline;}
  clear: both;
  padding: 8px 0px;
  text-align: center;
  span {
  }
  #footer_img {
    vertical-align: middle;
  }
  
  .request {
    margin-right: 154px;
    text-align: center;
		a, a:visited, a:link { 
			color: #ffffff; 
			font-size: .75em;
		}
		a:hover { color: #999999; }
  }
}

a, a:visited {
  color: #000000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
@media screen and (min-width: 0) {
	.starburst {
	  background: url(/assets/bg-starburst.png) no-repeat top center;
	  height: 600px;
	  padding: 0px 0px 50px 0px;
	  margin: 0 auto;
	}
	.wrapper {
		@include width(4.4);
		margin: 0 auto;
	}
	.left_splash {
		display: none;
	}
	nav.right_splash {
		ul {
			padding-top: .5em;
		}
	}
	#bg_blog {
		@include width(4.2);
		margin: 0 auto;
	}
	.bgb {
	  margin: 0 auto;
		@include width(4.7);
		p {
			color: #ffffff;
			font-size: 12px;
			text-shadow: 1px 1px 1px #000000;
		}
	}
	.hr-dashed {
		background: url(/assets/hr-dashed.png);
		margin: 1em 0;
		@include width(4.7);
		height: 3px;
	}
	.r1 {
		@include width(4.7);
	}
	.d1 {
		padding: 0 0 1em 0;
		text-align: center;
	}
}
/* 480 */
@media screen and (min-width: 30em) {
}
/* 640 */
@media screen and (min-width: 40em) {

}
/* 768 */
@media screen and (min-width: 48em) {
	nav.right_splash {
		ul {
			padding-bottom: 1em;
		}
	}
	.bgb {
	  margin: 0 auto;
		@include width(11);
		p {
			color: #ffffff;
			font-size: 12px;
			text-shadow: 1px 1px 1px #000000;
		}
	}
	.hr-dashed {
		background: url(/assets/hr-dashed.png);
		margin: 0 auto;
		@include width(10);
		height: 3px;
	}
	.gutter1col {
		@include width(1);
		float: left;
		height: 1em;
	}
	.r1 {
		@include width(11);
		overflow: hidden;
		padding-top: 2em;
	}
	.d1 {
		@include width(4);
		float: left;
		padding: 0 0 2em 0;
	}
	.d2 {
		@include width(6);
		float: left;
		padding: 0 0 2em 0;
	}
}
/* 960 */
@media screen and (min-width: 60em) {
	.wrapper {
		@include width(11);
		overflow: hidden;
		padding-top: 30px;
	}
	.left_splash {
		@include width(4);
		display: block;
		float: left;
	}
	nav.right_splash {
		@include width(5);
		float: left;
		padding-top: 6em;
		ul {
			padding: 0 0 2em 0;
		}
	}
	#bg_blog {
		@include width(11);
		margin: 0 auto;
	}
}
/* 1024 */
@media screen and (min-width: 64em) {
	.wrapper {
	}
	.left_splash {
	}
	nav.right_splash {
	}
}