// Imports --------------------------------------------------------------

@import "partials/base";
@import "responsive-sass";
@import "compass/css3";
@import "compass/utilities";
@import "partials/shared";
@import "partials/cards";

/* Layout -------------------------------------------------------------- */

body {
  background-color: #3399cc;
  font-family: $font-family;
  color: #333;
}
.pad2em { padding-top: 2em; }
.top_bar {
	background: url(/assets/bg-topbar.gif);
	-moz-box-shadow: black 0 5px 5px;
	-webkit-box-shadow: black 0 5px 5px;
	box-shadow: black 0 5px 5px;
  color: #f8f8f8;
  font-family: 'Lobster', cursive;
	padding-top: 10px;
  text-align: center; 
	height: 43px;
	p {
		font-size: 2em;
	}
  a:link, a:hover, a:visited {
    color: #f8f8f8;
    text-decoration: none;
  } 
	img { width: 171px; }
}
  
#wrap {
  @include clearfix;
  background: #3399cc url(/assets/bg.png) repeat-x;
}
.starburst {
  background: url(/assets/bg-starburst.png) no-repeat top center;
  height: 600px;
  padding: 0px 0px 50px 0px;
  margin: 0 auto;
}
.top_nav {
  text-align: right; 
  padding: 5px 10px; 
  a {color: #0F628C;
    font-weight: bold;
    letter-spacing: -1px;
    text-shadow: 0 1px 0 #ffffff;}}

.user_name {
  margin: 0px;
	padding-bottom: 0px;
	text-align: right;
}
.wrapper {
}
.left_splash {
	#phone_pic {
	  @include mobile-portrait(110px);
	  @include mobile-landscape(136px);
	  @include tablet-portrait(230px);
	  @include min-width-960(256px);
		@include tablet-landscape(256px);
    clear: both;
	  margin: 0;
	}
}
h4 {
	color: #ffffff;
	font-family: 'Georgia', serif;
	font-weight: lighter;
	@include text-shadow(#000000, 2px, 2px, 4px);
	span { padding-left: 1em; }
}
nav.right_splash {
	padding-top: 1em;
	width: 100%;
  ul {
		list-style-type: none;
    li {
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			margin-bottom: 5px;
			padding: 0;
			width: 280px;
			height: 47px;
			a {
				color: #ffffff !important;
				display: block;
				font-size: 1.2em;
				font-weight: lighter !important;
				padding: 12px 0 14px 55px;
				text-decoration: none;
				@include text-shadow(#000000, 1px, 1px, 0px);
			}
		}
		.fb { 
			background: url(fb-connect-large.png) no-repeat; 
			-moz-background-size: 280px auto;
			-webkit-background-size: 280px auto;
			-o-background-size: 280px auto;
			background-size: 280px auto;
		}
		.tw { 
			background: url(tw-connect-large.png) no-repeat; 
			-moz-background-size: 280px auto;
			-webkit-background-size: 280px auto;
			-o-background-size: 280px auto;
			background-size: 280px auto;
		}
		.in { 
			background: url(in-connect-large.png) no-repeat; 
			-moz-background-size: 280px auto;
			-webkit-background-size: 280px auto;
			-o-background-size: 280px auto;
			background-size: 280px auto;
		}
	}
}
.mobile-portrait {
	@include mobile-portrait(290px);
}


#signin_ {
}

.orangeStripe {
	background: url(/assets/bg-orangestripe.gif);
	-moz-box-shadow: $box-shadow-x-offset $box-shadow-y-offset $box-shadow-blur-radius $box-shadow-spread-radius $box-shadow-color;
	-webkit-box-shadow: $box-shadow-x-offset $box-shadow-y-offset $box-shadow-blur-radius $box-shadow-spread-radius $box-shadow-color;
	box-shadow: $box-shadow-x-offset $box-shadow-y-offset $box-shadow-blur-radius $box-shadow-spread-radius $box-shadow-color;
	margin-top: .5em;
	width: 100%;
	height: 24px;
}
.bg_mainContent {
	background: url(/assets/bgBluePlaid.png);
	background-color: #244468;
	padding-top: .5em;
	width: 100%;
}


h2 {
  @include text-shadow(#bebebe, 1px, 1px, 0px);
	font-size: 1.25em;
	font-weight: normal;
}

#left {
  padding: 1% 1% 1% 1%;
}

#middle {
  padding: 1%;
}

#right {
  padding: 1%;
}

footer {
  div {display: inline;}
  clear: both;
  padding: 8px 0px;
	text-align: center;
  span {
  }
  #footer_img {
    vertical-align: text-bottom;
  }
  
  .request {
		a, a:visited, a:link { 
			color: #ffffff !important; 
			font-size: .75em;
			font-weight: lighter !important;
			text-shadow: none !important;
		}
		a:hover { color: #ffffff !important; }
  }
}
.hire-copyright { 
	color: #fff;
	font-size: .75em;
	text-shadow: none;
}

a, a:visited {
  color: #000000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.fb_ltr { position: relative !important; top: -3px; width: 130px !important; } /* fb widget ghetto align fix */
.fb-like > span {
	width: 160px !important;
}

.w100 { float: right; margin-left: 20px; width: 100px; }
@media screen and (min-width: 0) {
	.starburst {
	  background: url(/assets/bg-starburst.png) no-repeat top center;
	  height: 600px;
	  padding: 0px 0px 50px 0px;
	  margin: 0 auto;
	}
	.wrapper {
		@include width(4.4);
		margin: 20px auto 0;
	}
	.left_splash {
		display: none;
	}
	h4 { font-size: 2.25em; }
	nav.right_splash {
		ul {
			padding: .5em 0 0 .3em;
		}
	}
	#bg_blog {
		@include width(4.2);
		margin: 0 auto;
	}
	.bgb {
	  margin: 0 auto;
		@include width(4.7);
		p {
			color: #ffffff;
			font-size: .75em;
			font-weight: lighter;
			line-height: 16px;
			text-shadow: 1px 1px 1px #000000;
			padding: 0 5px 10px;
		}
		img {
			width: 245px;
		}
	}
	.hr-dashed {
		background: url(/assets/hr-dashed.png);
		margin: 1em 0;
		@include width(4.7);
		height: 3px;
	}
	.r1 {
		@include width(4.7);
	}
	.d1 {
		padding: 0 0 1em 0;
		text-align: center;
		h1 {
			color: #ffffff;
			font-family: 'Lobster', serif;
			font-size: 2.5em;
			font-weight: lighter;
			margin: 0 auto;
			padding-top: 9px;
			text-shadow: 0px 1px 1px #000000;
			width: 230px;
		}
		.heading {
			height: 75px;
			margin: 0 auto;
			width: 265px;
		}
		.wis {
			background: url(/assets/title-wis.png) no-repeat;
			-moz-background-size: 265px auto;
			-webkit-background-size: 265px auto;
			-o-background-size: 265px auto;
			background-size: 265px auto;
		}
		.qrc {
			background: url(/assets/title-qrc.png) no-repeat;
			-moz-background-size: 265px auto;
			-webkit-background-size: 265px auto;
			-o-background-size: 265px auto;
			background-size: 265px auto;
		}
		.hts {
			background: url(/assets/title-hts.png) no-repeat;
			-moz-background-size: 265px auto;
			-webkit-background-size: 265px auto;
			-o-background-size: 265px auto;
			background-size: 265px auto;
		}
	}
	.request { margin: 0; }
	.hire-copyright { display: block; }
}
/* 480 */
@media screen and (min-width: 30em) {
}
/* 640 */
@media screen and (min-width: 40em) {
	.wrapper {
		margin: 0 auto;
	}
	.request { margin-right: 170px; }
	.hire-copyright { display: inline; }

}
/* 768 */
@media screen and (min-width: 48em) {
	nav.right_splash {
		ul {
			padding-bottom: 1em;
		}
	}
	.bgb {
	  margin: 0 auto;
		@include width(11);
		p {
			color: #ffffff;
			font-size: 12px;
			text-shadow: 1px 1px 1px #000000;
		}
	}
	.hr-dashed {
		background: url(/assets/hr-dashed.png);
		margin: 0 auto;
		@include width(10);
		height: 3px;
	}
	.gutter1col {
		@include width(1);
		float: left;
		height: 1em;
	}
	.r1 {
		@include width(11);
		overflow: hidden;
		padding-top: 2em;
	}
	.d1 {
		@include width(4);
		float: left;
		padding: 0 0 2em 0;
	}
	.d2 {
		@include width(6);
		float: left;
		padding: 0 0 2em 0;
	}
}
/* 960 */
@media screen and (min-width: 60em) {
	.wrapper {
		@include width(11);
		overflow: hidden;
		padding-top: 30px;
	}
	.left_splash {
		@include width(4);
		display: block;
		float: left;
	}
	h4 { 	font-size: 3em; }
	nav.right_splash {
		@include width(6);
		float: left;
		padding-top: 6em;
		ul {
			padding: 0 0 2em 0;
		}
	}
	#bg_blog {
		@include width(11);
		margin: 0 auto;
	}
}
/* 1024 */
@media screen and (min-width: 64em) {
	.wrapper {
	}
	.left_splash {
	}
	nav.right_splash {
	}
}
