#fb-root
:javascript
    window.fbAsyncInit = function() {
      FB.init({
         appId      : '131951090214210', // App ID
         status     : true, // check login status
         cookie     : true, // enable cookies to allow the server to access the session
         xfbml      : true  // parse XFBML
      });
      #{yield :facebook_javascript}
    };             
    (function(d){
       var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
       if (d.getElementById(id)) {return;}
         js = d.createElement('script'); js.id = id; js.async = false;
         js.src = "//connect.facebook.net/en_US/all.js";
         ref.parentNode.insertBefore(js, ref);
    }(document));
