%meta{:content => "friendscan.me", :property => "og:site_name"}/
%meta{:content => "131951090214210", :property => "fb:app_id"}/
%meta{:content => "company", :property => "og:type"}/

%meta{:content => @og_description , :property => "og:description"}/
%meta{:content => @og_title, :property => "og:title"}/
%meta{:content => @og_icon, :property => "og:image"}/
%meta{:content => @og_url, :property => "og:url"}/
