!!! 5

%html{:lang => "en"}
  / = render :partial => 'layouts/head'
  %body{:class => "#{controller.controller_name}"}
    %header.admin
      /= render :partial => 'layouts/header'
    #wrap
      %section.content
        = render :partial => 'flash', :locals => {:flash => flash}
        %article.main
          = yield
    %footer
      /=render :partial => 'layouts/admin/footer'
    = render :partial => 'layouts/javascripts'

